body {
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/884/952/non_2x/rain-clouds-illuminated-by-sun-background-free-photo.JPG');
    background-size: cover;
    background-attachment: fixed; /* Keep the background fixed while scrolling */
  }
  
  .container {
    width: 70%;
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 50px;
    text-align: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border: none;
    padding: 30px;
    border-radius: 10px;
    color: white;
  }
label{
    font-size: 15px;
}

.form-group{
    margin-left: 35px;
    color: white;
}
.form-group-cont{
    margin-left: 75px;
    color: white;
    border: none;
    padding: 30px;
    border-radius: 10px;
    font-size: 15px;
    justify-content: center;
    text-align: justify;
}
h2{
    font-size: 30px;
}

input{
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid;
    border-radius: 5px;
}
.btn{
    height: 40px;
    width: 70px;
    margin-top: 20px;
    font-size: 15px;
    margin-left: 48px;
}

.error-message{
    color: red;
    font-size: 10px;
    padding-bottom: 0%;
}