
.table-cont {
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 65px;
  padding: 10px;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  
}

th {
  background-color: #06122d;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

td {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 12px;
}
tbody  {
  background-color: #ecedf352;
}
td.time {
  min-width: 150px; /* Adjust the minimum width as needed */
  padding-left: 30px;
  padding-right: 40px;
  white-space: nowrap;
}

/* tbody tr:nth-child(even) {
  background-color: #09103c;
} */